@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*,::after,
::before {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 3rem;
}
.body_title {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 5rem;
}

#cards {
    display: grid;
    grid-template-columns: repeat(3, 30rem);
    grid-template-rows: repeat(7, 50rem);
    gap: 15rem;
    justify-items: center;
    align-items: center;
    height: 60vh;
}