html {
    font-size: calc(16px + 0.5vw);
  }
  
  /* Flexbox for cards layout */
  #cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Reduce padding and font sizes on smaller screens */
  body {
    padding: 1.5rem;
  }
  
  .title {
    font-size: 1.8rem;
  }
  
  .category, .price {
    font-size: 1.4rem;
  }
  
  /* Adjust hero element background image */
  .hero {
    height: 50vh;
    background-size: contain;
  }
  
  /* Hamburger menu for navigation bar on smaller screens */
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    margin: 1rem 0;
  }
  
  .icon {
    display: none;
  }
  
  .nav-links {
    display: none;
  }
  
  .nav-active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    height: calc(100vh - 6rem);
    background-color: #fff;
  }